:root{
    --defalt-text-color: black;
    --secondary-text-color: #6c757d;
}

.header{
    width: 100%;
    height: auto;

    max-width: 1440px;
    margin: 0 auto;

    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: normal;
}

.header_container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 20%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}



.navigation{
    width: 40%;
    height: auto;
}

.navigation_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation_link{
    text-decoration: none;
    color: var(--defalt-text-color);
}

.header_icons{
    width: 20%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icon_item{
    color: var(--defalt-text-color);
}

.main{
    width: 100%;
    height: auto;

    max-width: 1440px;
    margin: 0 auto;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list_item{
    width: 20%;
    height: auto;
    background-color: rgb(230, 249, 255) ;
    margin: 20px;
    position: relative;
}

.list_item:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.item_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;;
}

.product_name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--defalt-text-color);
}

.product_description{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.product_price{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--defalt-text-color);
}

.product_icons{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 5px;
}