:root {
  --default-text-color: black;
}

/* Intro block */
.container {
  margin: auto;
  padding: 0;
  max-width: 1920px;
  width: 100%;
  height: auto;
}

.section-intro {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 30px 0;
}

.intro-title {
  font-size: 24px;
  font-weight: 700;
}

.intro-text {
  font-size: 16px;
  font-weight: 400;
}

/* Header part */
.header {
  margin: auto;
  padding: 20px;
  border: 1px solid black;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  color: var(--default-text-color);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 500;
}

.navigation-list {
  max-width: 500px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navigation-icons {
  max-width: 100px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-icons a {
  font-size: 22px;
}

/* Main part */

.main {
  margin: auto;
  max-width: 1440px;
  width: 100%;
}

.first-section {
}

.categories-list {
  margin: auto;

  max-width: 1000px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  text-align: center;
}

.categories-item {
  width: 300px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.categories-item:hover {
  transform: translateY(-5px);
}

.categories-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.category-description {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
}

.categories-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Second section */

.product-list {
  margin: auto;
  padding: 40px;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.product-item {
  width: 300px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item img {
    margin: auto;
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.product-description {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
}

.product-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}