.brand-bar {
  width: 100%;
  height: auto;

  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand-card {
  width: auto;
  transition: all 0.3s ease;
}

.brand-card:hover {
  transform: translateY(-5px);
}
